*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* Hide scrollbar but keep scroll functionality */

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer / Legacy Edge */
body {
  -ms-overflow-style: none;
}
